.noDataDialog {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.noDataDialog h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.noDataDialog p {
  color: #333;
  font-size: 18px;
}